PORT=3000

RAZORPAY_KEY_ID=""
RAZORPAY_SECRET=""

SUPABASE_URI=""
SUPABASE_SERVICE_ROLE_KEY=""

INFURA_API_URL=""
PRIVATE_KEY=""
COMPANY_ADDRESS=""

CREDIT_MANAGER_ADDRESS=""
PROJECT_TOKEN_FACTORY_ADDRESS=""
CREDIT_POOL_ADDRESS=""
ACTUAL_CREDIT_ADDRESS=""
SEC_TOKEN_ADDRESS=""
